<html>
    <head>
        <title>Issue Tracker</title>
    </head>
    <body>
        <h1>My Issue Tracker</h1>
        <table id="id_table">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Youth Name</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td><input id="id_date" /></td>
                <td><input id="id_time" /></td>
                <td><input id="id_location" /></td>
                <td><input id="id_youth_name" /></td>
                <td><input id="id_notes" /></td>
            </tr>
        </table>
    </body>
</html>