<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">-->
        <title>{% block title %}{% endblock %}</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">  
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
        <!--<script src="js/bootstrap.min.js"></script>-->
        {% block calendar_script %}
            <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
            <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <!--<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">-->
            <script>
            $(function() {
                $( "#id_date_time" ).datepicker();
            });
            </script>
        {% endblock %}
    </head>
    <body>
        <h1>Upload a New Record</h1>
        
        
        {% block file_input %}
        <table id="file to upload">
        <tr>
            <b>Files Uploaded</b>
        </tr>
 
        {% if documents %}
            <ul>
            {% for document in documents %}
                <li><a href="{{ document.filename.url }}">{{ document.filename.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No files uploaded</p>
        {% endif %}
        
        <tr>
         <b> Upload More Files </b>
         </tr>
            <form method="POST" action="/records/upload" enctype="multipart/form-data">
                 {% csrf_token %}
                 <p>{{ form.non_field_errors }}</p>
                 <p>{{ form.filename.label_tag }} {{ form.filename.help_text }}</p>
                 <p>
                    {{ form.filename.errors }}
                    {{ form.filename }}
                </p>
               <!-- <td><input name="filename" id="id_filename" /></td>-->
               <!-- <input type="file" name="fileupload" /> -->
                <td><input type="submit" value="Upload" id="id_upload" /></td>
               
            </form>
        </tr>
        {% endblock %}
        
        {% block end_table %}
        </table>
        {% endblock %}
        
        {% block view_records %}
        <a href="/records/view" id='viewrecord'>View All Records</a>
        {% endblock %}
        
        {% block add_records %}
        {% endblock %}
        
        {% block home_link %}<br><a href='/'>Home</a>{% endblock %}
        
        <!--<script src="/static/app.js"></script>-->
          
    </body>
    
</html>